* {
  box-sizing: border-box;
}

body {
    background: url(assets/freedom.jpg) no-repeat center center fixed;
    color: #393636;
}

.text {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 1.225rem;
    margin-bottom: 3.5rem;
}

.box {
    width: 90vw;
    text-align: center;
    margin: auto;
    margin-top: 4rem;
    line-height: 1.5;
    letter-spacing: .15rem;
}

.nav {
   text-align: center;
   margin-top: 1.3rem;
   font-family: Caladea;
   font-size: 0.885rem;
}


a {
  text-decoration: none;
  color: #436581;
}
.eng {
   margin-right: 2rem;
}

.fra {
    margin-right: 2rem;
}

a:hover {
  color: #eda087;
  transition: color .15s ease-in-out;
}

.nav::after {
  content: "";
  display: block;
  height: .16rem;
  width: 55vw;
  margin: 1rem auto;
  background-color: #436581;
}

@media (min-width: 768px) {
   .text {
     font-size: 2rem;
     text-transform: uppercase; 
   }
   .nav {
   font-size: 1rem;
}
   .nav::after {
  content: "";
  display: block;
  height: .16rem;
  width: 20vw;
  margin: 1rem auto;
  background-color: #436581;
}
}


