* {
  box-sizing: border-box;
}

body {
    background: url(assets/freedom.jpg) no-repeat center center fixed;
    color: #393636;
}


div {
   margin: 10rem 10rem; 
}


.text {
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
}

.box {
    width: 90vw;
    text-align: center;
    margin: auto;
    margin-top: 7rem;
    line-height: 1.5;
    letter-spacing: .15rem;
}


.name {
    font-family: "Caladea", Helvetica, sans-serif;
    font-size: 1rem;
    font-style: italic;
}
